<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand py-0" href="../">
	<%= image_tag("j-logo-1.png", alt: "Logo", width: "30", height: "30") %>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <% if not user_signed_in? %>
	  	<!-- If not signed in, show these navbar options -->
	  	  <li>
		  	<% puts current_user %>
		  </li>
		  <li class="nav-item">
			<%= link_to "Sign In", new_user_session_path, :class => 'nav-link ' + current_class?(new_user_session_path) %>
		  </li>
		  <li class="nav-item">
			<%= link_to "Register", new_user_registration_path, :class => 'nav-link ' + current_class?(new_user_registration_path) %>
		  </li>
	  <% end %>
	  <% if user_signed_in? %>
		  <!-- If signed in, only show these navbar options -->
		  <li>
		  	<% puts current_user %>
		  </li>
		  <li class="nav-item">
			<%= link_to "My Profile", edit_user_registration_path, :class => 'nav-link ' + current_class?(edit_user_registration_path) %>
		  </li>
		  <li class="nav-item">
			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'nav-link' %>
		  </li>
	  <% end %>
	</ul>
	<ul class="navbar-nav ml-auto">
	  <% if not user_signed_in? %>
	    <!-- If not signed in, show this navbar option -->
		<li class="nav-item">
		  <a class="nav-link" href="#">Secret Santa</a>
		</li>
		<li class="nav-item">
		  <%= link_to "Articles", articles_path, :class => 'nav-link ' + current_class?(articles_path) %>
		</li>
	  <% end %>
	  <% if user_signed_in? %>
		<!-- If signed in, show this navbar dropdown menu -->
		<li class="nav-item dropdown">
		  <a class="nav-link drowdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secret Santa</a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<%= link_to "New Event", new_event_path, :class => 'dropdown-item ' + current_class?(new_event_path) %>
			<div class="dropdown-divider"></div>
			<%= link_to "My Events", events_path, :class => 'dropdown-item ' + current_class?(events_path) %>
		  </div>
		</li>
		<li class="nav-item">
		  <%= link_to "Articles", articles_path, :class => 'nav-link ' + current_class?(articles_path) %>
		</li>
	  <% end %>
	  <li class="nav-item disabled">
		<a class="nav-link disabled" href="#">Paraphernalia</a>
	  </li>
    </ul>
  </div>
</nav>